/* ********************************************************** *
 * * * * * * * * * * * * * *~~* * * * * * * * * * * * * * * * *
 *                                                            *
 * PARTE 1. Definizioni di BASE                               *
 *                                                            *
 * * * * * * * * * * * * * *~~* * * * * * * * * * * * * * * * *
 * ********************************************************** */
body {
  background-color: #DEDEBD; /* #EEEEBB; */
  background-position: center center;
  font-family: trebuchet MS, helvetica, arial, sans-serif;
  color: black;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ~~~Text styles~~~                                         *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
p {
  font-size: small;
  padding-left: 0.5cm;
  padding-bottom: 0cm;
  padding-top: 0cm;
  padding-right: 1cm;
  margin-bottom: 0.4cm;
  margin-top: 0cm;
}

h1 {
  font-size: x-large;
  /* color: white; */
  /* background-color: #3E6035; */
  padding-top: 0.2cm;
  padding-left: 0.5cm;
  padding-right: 0.5cm;
  padding-bottom: 0.2cm;
}

h2 {
  font-size: large;
  padding-top: 0.2cm;
  padding-left: 0.5cm;
  padding-right: 0.5cm;
  padding-bottom: 0.2cm;
  /* padding-left: 1cm; */
}

h3 {
  font-size: medium;
  font-style: italic;
}

h4 {
  font-size: small;
  font-style: italic;
}

ul {
  font-size: small;
  /* margin-left: 1cm; */
  margin-bottom: 0.5cm;
}

ol {
  font-size: small;
  /* margin-left: 1cm; */
  margin-bottom: 0.5cm;
}

li {
   margin-top: 0.3cm;
   margin-bottom: 0.3cm;
}

/* Stile speciale per carattere sottolineato.    *
 * Funziona, ma da problemi con XHTML strict     *
 * per cui per il momento non lo sto utilizzando */
under {
  text-decoration: underline;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ~~~Tables styles~~~                                       *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
table {
   margin-top: 0.3cm;
   margin-bottom: 0.3cm;
   border-collapse: collapse;
   border-style: solid;
}

caption {
   padding-top: 0.2cm;
   padding-bottom: 0.2cm;
   background-color: #C7C28B;
   font-size: large;
}

tr {
   border-style: solid;
   border-width: thin;
}

th {
   padding: 0.3cm;
   text-align: left;
   border-style: solid;
   border-width: thin;
   background-color: #D2CFA2;
}

td {
   padding: 0.2cm;
   font-size: small;
   border-style: solid;
   border-width: thin;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ~~~div/span~~~                                            *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
div {
}

span {
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ~~~IDs used for "div"~~~                                  *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
div#header {
  color: white;
  background-color: #3E6035;
}

div#leftmenu {
  position: absolute;
  width: 165px;
  left: 10px;
  top: 80px;
  /* background-color: #ffffbb; */
  background: #aa7 url(img/sandydogsear.png) bottom right no-repeat;
}

body>div#leftmenu {
  position: fixed;
}

div#leftmenu h2 {
   font-size: medium;
   font-weight: bolder;
   padding-left: 0.5cm;  
}

div#leftmenu p {
   font-size: medium;
   padding-left: 0.5cm;  
}

div#leftmenu a:link, div#leftmenu a:visited
{
  font-style: italic;
  text-decoration: none;
  color: white;
}

div#leftmenu a:hover {
  background: #CCC;
  color: black;
}

div#leftmenu_large {
  position: absolute;
  width: 210px;
  left: 10px;
  top: 80px;
  /* background-color: #ffffbb; */
  background: #aa7 url(img/sandydogsear.png) bottom right no-repeat;
}

body>div#leftmenu_large {
  position: fixed;
}

div#leftmenu_large h2 {
   font-size: medium;
   font-weight: bolder;
   padding-left: 0.5cm;  
}

div#leftmenu_large p {
   font-size: medium;
   padding-left: 0.5cm;  
}

div#leftmenu_large a:link, div#leftmenu_large a:visited
{
  font-style: italic;
  text-decoration: none;
  color: white;
}

div#leftmenu_large a:hover {
  background: #CCC;
  color: black;
}

div#bodywithmenu {
  margin-left: 175px;
}

div#bodywithlargemenu {
  margin-left: 220px;
}

div#body {
}

div#footer {
  background-color: #A5B892;
  border-top-style: solid;
  border-color: black;
  /* border-width: 10px; */
  /* color: white; */
  /* background-color: #3E6035; */
  /* text-align: right; */
}

div.code {
  background-color: #FFFFFF;
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  font-family: courier, sans-serif;
  font-weight: bolder;
  margin-left: 1cm;
  padding-left: 0.5cm;
  margin-right: 10%;
  padding-right: 0.5cm;

}

/*
 * Classi utilizzate all'interno delle sezioni <div class="code">
 * per intentare diversi livelli di codice
 */
div.code > p {
  padding-top: 0cm;
  margin-top: 0cm;
  padding-left: 0cm;
  margin-left: 0cm;
  padding-right: 0cm;
  margin-right: 0cm;
  padding-bottom: 0cm;
  margin-bottom: 0cm;
}

div.code > p.tab1 {
  margin-left:1.0cm;
}

div.code > p.tab2 {
  margin-left:2.0cm;
}

div.code > p.tab3 {
  margin-left:3.0cm;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ~~~links~~~                                               *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*
 * Removes the border from images used as link
 */
a img {
   border: none;  
}

/* ********************************************************** *
 * * * * * * * * * * * * * *~~* * * * * * * * * * * * * * * * *
 *                                                            *
 * PARTE 2. CLASSI GENERALI                                   *
 *                                                            *
 * * * * * * * * * * * * * *~~* * * * * * * * * * * * * * * * *
 * ********************************************************** */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ~~~Mainly textual~~~                                      *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.centered {
   text-align: center;
}

.indented {
   text-indent: 1cm;
}

.blackpen {
   color: black;
}

.indentright {
  text-align: right;
}
.indentcenter {
  text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ~~~For tables~~~                                          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.withborder {
   /* border: '1pt solid black'; */
   
   border-style: double;        /* Valori ammessi:
                                    dotted, dashed, solid,
                                    double, groove, ridge,
                                    inset,outset  
                                    Esiste anche la possibilita'
                                    di dare forme diverse ai bordi
                                    superiori/inferiori e laterali */
  border-color: #0000ff;
  border-bottom-width: 15px;
  border-left-width: 15px;
}

.withmargin {
   margin-top: 0.5cm;
   margin-left: 1cm;
   margin-right: 1cm; 
   margin-bottom: 0.5cm;
}

.corsivo {
   font-style: italic;   
}

/* ********************************************************** *
 * * * * * * * * * * * * * *~~* * * * * * * * * * * * * * * * *
 *                                                            *
 * PARTE 3. CLASSI SPECIFICHE                                 *
 *                                                            *
 * * * * * * * * * * * * * *~~* * * * * * * * * * * * * * * * *
 * ********************************************************** */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ~~~Paragraphs~~~                                          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
p.sansserif {
   font-family: sans-serif;
}

p.increase {
   line-height: 1cm;
}

p.route  {
  background-color: #B5B066;
  margin-top: 0cm;
  margin-bottom: 0.5cm;
  padding-top: 0cm;
  padding-left: 0.4cm;
  padding-bottom: 0cm;

}

p.footer {
  margin-bottom: 0.1cm;
  padding-top: 0.1cm;
  padding-left: 0.1cm;
  padding-right: 0.1cm;
  text-align: center;
  vertical-align: text-top;
}

p.note {
  margin-left: 2cm;
  margin-right: 2cm;
  margin-bottom: 0.6cm;
  font-style: italic;
}

p.command, p.singlecode, p.code, p.codefirst, p.codelast, p.code_ind1 {
  font-family: courier, sans-serif;
  font-weight: bolder;
  margin-left: 1cm;
}

p.codefirst {
  margin-top: 0.5cm;
  margin-bottom: 0cm;
}
p.code, p.code_ind1 {
  margin-top: 0cm;
  margin-bottom: 0cm;
}
p.code_ind1 { 
  margin-left:1.5cm;
}

p.codelast {
  margin-top: 0cm;
  margin-bottom: 0.5cm;
}

p.frasefatta {
  width: 12cm;
  font-style: italic;
  background-color: #A5B892;
  color: maroon;
  padding-top: 0.2cm;
  padding-left: 0.4cm;
  padding-bottom: 0.4cm;
  padding-right: 0.2cm;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

p.compact {
  margin-bottom: 0cm;
  margin-top: 0cm;
}

p.pagelinkslist {
  white-space: pre;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ~~~Tables~~~                                              *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Toplevel table class: used as base for pages */
table.noborder {
   border-collapse: collapse;
   border-style: none;
   border-width: 0pt;
}

/* * * * * * Table cells * * * * * */
/* Di default table items sono senza bordo e baseline-aligned */
td.noborder {
   border-style: none;
   border-width: 0pt;
   vertical-align: baseline;
}

td.titlerow {
   background-color: #006633;
}

td.leftshaded {
   background-color: #006633;
   vertical-align: top;
}

td.separator {
   background-color: #228855;  
}

td.doctechbody {
   color: black;
   background-color: white;
}

table.photogallery {
   /* table-layout: fixed; */
   /* width: 360px;  */
   /* height: 480px; */
   /* margin: 0cm; */
   /* padding: 0cm; */

   /* float: none; */
   /* clear: none; */

   /* border-collapse: separate; */
   border-style: none;
   /* border: 0cm; */
   
   color: black;
   background-color: transparent; /* #AEC4D7;*/
}

td.photosnap {

   width: 120px;
   height: 120px;

   color: black;
   background-color: transparent; /* #AEC4D7;*/
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ~~~Unordered lists items~~~                               *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
ul.disc {
   list-style-type: disc;
}
ul.circle {
   list-style-type: circle;
}
ul.square {
   list-style-type: square;
}
ul.withball {
   list-style-image: url("../images/ball3.gif");
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ~~~Ordered lists items~~~                                 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
ol.decimal {
   list-style-type: decimal;
}
ol.lroman {
   list-style-type: lower-roman
}
ol.uroman {
   list-style-type: upper-roman
}
ol.lalpha {
   list-style-type: lower-alpha
}
ol.ualpha {
   list-style-type: upper-alpha
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ~~~Images~~~                                              *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Image dimension */
img.normal {
   height: auto;
   width: auto;
}
img.big {
   height: 80px;
   width: 100px;
}
img.small {
   height: 30px;
   width: 50px;
}

img.leftfloat {
   float: left;
   margin-right: 20px;
}
img.rightfloat {
   float: right;
   margin-left: 20px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ~~~Hyperlinks~~~                                          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
a:link.mainmenu {
   font-weight: bolder;
   color: yellow
}

a:visited.mainmenu {
   font-weight: bolder;
   color: white;
}

a:link.secondarylist {
   color: #006633;
}

a:visited.secondarylist {
   color: black;
}

/* Aggiunti per Chessbase */
.e1b {font-size:12pt;  font-style: normal; text-decoration: none}
.e0 {color: 000000; font-size:12pt;  font-style: normal; text-decoration: none}
.e1 {color: #000000; font-size:12pt;  font-style: normal; text-decoration: none}
.e2 {color: #000000; font-size:12pt;  font-style: normal; text-decoration: none}
.e3 {color: #000000; font-size:12pt;  font-style: normal; text-decoration: none}
.e4 {color: #000000; font-size:12pt;  font-style: normal; text-decoration: none}
.game {font-size:12pt;  font-style: normal;}

/***************************************************************
 * TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST *
 ***************************************************************/
/* stili utilizzati da provecss.html */
div#testbody {
  /* display: inline; */ /* questo non serve: display di default e' inline */
  width: 6.5cm;
  direction: rtl;
  background-color: #A5B892;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-bottom: 0.5cm;
}

p.testcite {
  /* width: 6.5cm; */
  text-align: center;
  margin-top: 0.2cm;
  margin-left: 0.4cm;
  margin-bottom: 0.4cm;
  margin-right: 0.2cm;
  color: maroon;
  font-style: italic;
}

